Listen {{ ansible_host }}:{{ barbican_port }}

<VirtualHost *:{{ barbican_port }}>
    ServerName {{ inventory_hostname }}

    ## Logging
    ErrorLog "/var/log/httpd/barbican_error.log"
    LogLevel info
    ServerSignature Off
    CustomLog "/var/log/httpd/barbican_access.log" combined

    WSGIApplicationGroup %{GLOBAL}
    WSGIDaemonProcess barbican-api display-name=barbican-api group=barbican processes=4 threads=1 user=barbican
    WSGIProcessGroup barbican-api
    WSGIScriptAlias / "/usr/lib/python3.6/site-packages/barbican/api/app.wsgi"
    WSGIPassAuthorization On
    <Directory "/usr/lib/python3.6/site-packages/barbican/api">
      Require all granted
    </Directory>
</VirtualHost>
